<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rrifafauzikomara.qrcodescanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ozyAdDel"></activity>
        <activity android:name=".ozyList" />
        <activity android:name=".ozy" />
        <activity android:name=".work_monit" />
        <activity
            android:name=".Monit_add"
            android:label="@string/Camera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MonitList"
            android:label="@string/ListM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DelFirmmon"
            android:label="@string/izmFirm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TipMonit"
            android:label="@string/ListFirm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera"
            android:label="@string/Camera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor"
            android:label="Работа с монитором"
            android:screenOrientation="portrait" />
        <activity android:name=".glavnaya">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.vividcode.android.zxing.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>